:root{
    background-color: #FAFAFA;
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

header{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    z-index: 1;
}

header.mobile{
    display: none;
}


/*3 elementos principais do header*/
.header-item{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

/*Search-bar*/
.header-item input{
    text-align: center;
}

.header-item ion-icon{
    margin: 5px;
    font-size: 22px;
}

.separador-vertical {
    border-left: 1px solid #DBDBDB;
    height: 25px;
    margin: 0 8px 0 3px;
}

.sidebar{
    position: fixed;
    width: 293px;
    left: calc(15vw + min(100vw, 616px));
    border: 1px solid #DBDBDB;
    font-weight: 300;
    font-size: 12px;
}

.sidebar h1{
    font-weight: 500;
    margin-bottom: 7px;
}

.sidebar h2{
    color: #8E8E8E;
}

.sidebar h3{
    font-weight: 500;
    color: #139EF2;
}

.sidebar h5{
    font-weight: 500;
    color: #8E8E8E;
}

.sidebar-profile{
    display: flex;
    align-items: center;
    margin: 10px 0 20px 20px;
    font-size: 14px;
    font-weight: 300;
}

.sidebar-profile img{
    margin-right: 15px;
}

.sidebar-profile h1{
    font-weight: 500;
}

.sidebar .sugestao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px 10px 20px;
    font-weight: 400;
}

.sidebar .sugestao-profile{
    display: flex;
    align-items: center;
}

.sidebar .info{
    margin-left: 20px;
    margin: 20px 0 10px 20px;
    font-size: 11px;
    font-weight: 400;
    color: #C7C7C7;
}

.sidebar .info h6{
    margin-top: 10px;
}

/*conteudo abaixo do header*/
.conteudo{
    width: min(100vw, 614px);
    display: flex;
    flex-direction: column;
    margin: 88px 40vw 0 15vw;
}

.stories{
    background-color: #FFFFFF;
    display: flex;
    border: 1px solid #DBDBDB;
    overflow: hidden;
    position: relative;
    width: min(100vw, 614px);
}

.stories .setinha{
    font-size: 20px;
    position: absolute;
    color: #FFFFFF;
    top: 32px;
    right: 15px;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7))
}

.story{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    margin: 5px 0 5px 15px;
}

.story img{
    padding: 4px;
    background: linear-gradient(to bottom left, rgb(209, 20, 178) , rgb(235, 205, 36));
    outline: 2px solid white;
    outline-offset: -3.7px;
}

/*aplica pra todo icone redondo da pagina*/
.icone-redondo-grande{
    border-radius: 50%;
    width: 56px;
    height: 56px;
}

.feed{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.post{
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    margin-bottom: 60px;
    width: min(100vw, 614px);
}

.post .topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

/*icone redondo e nome*/
.post .autor{
    display: flex;
    align-items: center;
}

.icone-redondo-medio{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 2px;
    outline-offset: -3px;
    margin-right: 10px;
}

.post .media{
    width: min(100vw, 614px);
}

.post .bottom .icones{
    display: flex;
    justify-content: space-between;
    margin: 5px 12px;
    font-size: large;
}

.post .bottom .icones ion-icon{
    margin: 0 3px;
}

.post .bottom .interacao{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 8px 15px;
}

.icone-redondo-small{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

@media (max-width: 935px) {
    header{
        justify-content: space-between;
    }
    .sidebar{
        display: none;
    }
    div.conteudo{
        margin: 88px auto 0 auto;
    }
}

@media (max-width: 614px) {

    erer{
        display:none;
    }

    header.mobile{
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        top: 0;
        border-bottom: 1px solid #DBDBDB;
        background-color: #FFFFFF;
        z-index: 1;
    }

    .feed{
        margin: 0;
    }
    .conteudo{
        margin: 51px 0 0 0;
    }

}